{% extends "base_generic.html" %}

{% block title %} test Profile {% endblock title %}
{% block content %}

{%for post in profile.get_my_and_following_posts%}
  <div class="post">
    <div class="post-question">
        {{post.answer.question}}</br>
        <span class="question-author">
          {%if post.answer.question_author%}
            <a href="{% url 'user:profile-detail' post.answer.question_author %}">{{post.answer.question_author}} </a>
          {%else%}
            Anonymous
          {%endif%}
        </span>
        </br>
        
    </div>
    <div class="post-answer">
      {{post.answer}} </br>{{post.like_count}} liked
      <span class="answer-author">
        <a href="{% url 'user:profile-detail' post.answer.answer_author %}"> <b>{{post.answer.answer_author}} </b></a></br>
      </span>
      
    </div>
    
      
      
  </div>

{%endfor%}
{% endblock %}