{% extends "base_generic.html" %}

{% block title %} {{profile}} {% endblock title %}
{% block content %}

<div class="profile-main">


  <div class="profile-info">
    <div class="profile-header">
      <div class= "profile-username"> 
        <b>{{username}}</b>
      </div>
      <div class= "profile-teste"> 
  
      </div>
      <div class= "profile-btn"> 
  
      </div>
  
    </div>
    <div class="profile-stats">
      <div class="stats">
        <span>{{profile.followers_count}}</span>
        <span>Followers</span>
      </div>
      <div class="stats">
        <span>{{profile.following_count}}</span>
        <span>Following</span>
      </div>
      <div class="stats">
        <span>{{profile.posts_count}}</span>
        <span>Answer</span>
      </div>
    </div>
    <div class="message-form-container">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" id="username" name="username" value={{profile.get_user}}>
        <textarea id="message" name="body" required
                      hx-get="{%url 'user:check-question' %}" 
                      hx-trigger="keyup" 
                      hx-target=".char-count"
        ></textarea><br>
        <div class="char-count">
          <span id="count">  0</span> / 1024
        </div>

        <div class="send-area">
          <div>
            <input type="checkbox" name="anon" id="hide-name" name="hide-name"/>
            <label for="hide-name" style="color: var(--grey);">Hide your name</label>
          </div>
          <div class="message-button">
            <button type="button" class="btn btn-msg"
                    hx-post="{%url 'user:save-question' %}"
                    hx-trigger="click" 
                    hx-target=".response-container"
                    hx-disabled-elt="this"
            > Send </button>
            

          </div>

        </div>
        
      </form>
     
    </div>
    <div class="response-container">

    </div>
  </div>



  

  <div class="profile-posts">
  {%if userFound == "false" %}
    <div class="object-not-found">
      <b>User not found!</b>
    </div>

  {%endif%}

  {%if profile.posts_count == 0 %}
  <div class="object-not-found">
    <b >This user hasn't answered any questions yet.</b> 
    <b style="font-size: 1.2rem;">Be the first one to ask {{ profile }} anything !</b>

  </div>

  {%endif%}
  {%for post in profile.get_my_posts%}
    <div class="post">
      <div class="post-question">
          {{post.answer.question}}</br>
          <span class="question-author">
            {%if post.answer.question.is_anon == False%}
              <a href="{% url 'user:profile-detail' post.answer.question_author %}">{{post.answer.question_author}} </a>
            {%else%}
              Anon
            {%endif%}
          </span>
          </br>
          
      </div>
      <div class="post-answer">
        <div class="answer-content">
          {{post.answer}} </br>
        </div>
        <div class="answer-author">
          <div class="user-icon">
          </div>
          <span class="author-user">
            <a href="{% url 'user:profile-detail' post.answer.answer_author %}"> <b>{{post.answer.answer_author}} </b></a> • {{post.get_created_at}}</br>
          </span>
        
        </div>
        
        
      </div>
      <div class="post-action">
        <li class="action" id="action-like"><i class="fi fi-sr-heart"></i> {{post.like_count}}</li>
        <li class="action" id="action-share"><i class="fi fi-rr-share-square"></i> {{post.like_count}}</li>
      </div>
      
        
        
    </div>

  {%endfor%}
  </div>
</div>
{% endblock %}