{% extends "base_generic.html" %}

{% block title %} {{ username }} {% endblock title %}
{% block content %}

<form method="post" class="profile-info-edit">
    {% csrf_token %}
        <div class="profile-header">
            <div class="profile-icon-container">
        
            </div>
            <div class= "profile-user"> 
                <h4><b><input type="text" id="username" name="username" value={{username}}></b></h4>           
            </div>
        </div>
        <div class="profile-stats">
            <div class="stats">
                <span id="followers_count">{{profile.followers_count}}</span>
                <span>Followers</span>
            </div>
            <div class="stats">
                <span id="following_count">{{profile.following_count}}</span>
                <span>Following</span>
            </div>
            <div class="stats">
                <span id="posts_count">{{profile.posts_count}}</span>
                <span>Answer</span>
            </div>
        </div>
        <div class="grid">
            <div class="message-form-container">
                <textarea id="message" name="body" required>{{profile.question_helper}}</textarea>
                <br><br>
                <div class="send-area">
                    <span></span>
                    <div class="message-button">
                        <button type="button" class="btn btn-msg"
                            hx-post="{%url 'pages:save-profile' %}"
                            hx-trigger="click" 
                            hx-target="section"
                            hx-disabled-elt="this"
                        > Save </button>
                    </div>
                </div>
            </div>
        </div> 
</form>

{% endblock %}