{% extends "base_generic.html" %}
{% load static %}
{% block title %} {{ username }} {% endblock title %}
{% block content %}

<form method="post" class="profile-info-edit" id="profile-edit">
    {% csrf_token %}
        <div class="profile-header">
            <div class="profile-icon-container">

            </div>
            <div class= "profile-user"> 
                <h4><b><input type="text" id="username1" name="username" value={{username}} ></b></h4>           
                <span class="error" id="username-error"> </span>
            </div>
        </div>
        <div class="profile-stats">
            <div class="stats">
                {{profile.notif_count}}
                <span id="followers_count">{{profile.followers_count}}</span>
                <span>Followers</span>
            </div>
            <div class="stats">
                <span id="following_count">{{profile.following_count}}</span>
                <span>Following</span>
            </div>
            <div class="stats">
                <span id="posts_count">{{profile.posts_count}}</span>
                <span>Answer</span>
            </div>
        </div>
        <div class="grid">
            <div class="message-form-container">
                <textarea id="question_helper" name="body" required>{{profile.question_helper}}</textarea>
                <div class="send-area">
                    <div>
                    {%if profile.allow_anonymous_questions %}
                        <input type="checkbox" name="anon" id="allow_anon" name="allow_anon" checked />
                    {% else %}
                        <input type="checkbox" name="anon" id="allow_anon" name="allow_anon"/>
                    {% endif %}
                        <label for="allow_anon" style=" color: var(--grey);">Allow anonymous questions</label>
                    </div>
                    <div class="message-button">
                        <button type="submit" class="btn btn-msg"
                        > Save </button>
                    </div>
                </div>
            </div>
        </div> 
</form>

{% endblock %}

{% block js%}
  <script type="text/javascript">
    $(document).on("submit", "#profile-edit", function (e) {
        e.preventDefault();

        var formData = $('#profile-edit').serialize();

        $.ajax({
            type: "POST",
            url: "{%url 'pages:profile-edit' username %}",
            data: formData,
            success: function (response) {
                if (response.res === "error"){
                    $("#username-error").html(response.message)
                }
                else{
                    window.location.href = "/"+response.username+"/"
                }                    
            },
        });

    })

    $(document).on('click','#username1', function(){
        $("#username-error").empty()
    })
  </script>
{% endblock %}