{% extends "base_profile.html" %}

{% block posts %}

  <div class="posts-container">
      {%if userFound == "false" %}
        <div class="object-not-found">
          <b>User not found!</b>
        </div>

        {% else %}

        {%if profile.posts_count > 0 %}
          {%include "profiles/partials/htmx/list_user_posts.html" %}

        {% else %}
        <div class="object-not-found">
          <b >This user hasn't answered any questions yet.</b> 
          <b style="font-size: 1.2rem;">Be the first one to ask {{ profile }} anything !</b>

        </div>
        {%endif%}
    {%endif%}
  </div>
{% endblock %}