{% extends "base_generic.html" %}

{% block title %} {{username}} {% endblock title %}
{% block content %}

<div class="profile-main">


  <div class="profile-info">
    <div class="profile-header">
      <div class="profile-icon-container">

      </div>
      <div class= "profile-user"> 
          <h4><b>{{username}}</b></h4>        
        <div class="user-actions">
          <div class="follow-container">
            <button type="button" class="btn btn-follow"
                    hx-post="{%url 'pages:save-question' %}"
                    hx-trigger="click" 
                    hx-target=".response-container"
                    hx-swap="outerHTML"
                    hx-disabled-elt="this"
            > Follow </button>
          </div>
          <div class="profile-actions">
            <li class="action" id="action-block-profile"
                type="button"
                hx-get=""
                hx-trigger="click"
                hx-target=".posts-container"
                name="Block profile">
                <i class="fi fi-rr-cross-circle"></i>
            </li>
            <li class="action" id="action-mute"
                type="button"
                hx-delete=""
                hx-trigger="click"
                hx-target=".posts-container"
                hx-confirm="Are you sure you want to delete?"
                name="Mute profile">
                <i class="fi fi-sr-volume-mute"></i>
            </li> 
          </div>

        </div>
      </div>
  
    </div>
    <div class="profile-stats">
      <div class="stats">
        <span>{{profile.followers_count}}</span>
        <span>Followers</span>
      </div>
      <div class="stats">
        <span>{{profile.following_count}}</span>
        <span>Following</span>
      </div>
      <div class="stats">
        <span>{{profile.posts_count}}</span>
        <span>Answer</span>
      </div>
    </div>
    <div class="grid">
    <div class="message-form-container">
      <form method="post">
        {% csrf_token %}
        <input type="hidden" id="username" name="username" value={{profile.get_user}}>
        <textarea id="message" name="body" required
                      hx-get="{%url 'pages:check-question' %}" 
                      hx-trigger="keyup" 
                      hx-target=".char-count"
        ></textarea><br>
        <div class="char-count">
          <span id="count">  0</span> / 1024
        </div>

        <div class="send-area">
          <div>
            <input type="checkbox" name="anon" id="hide-name" name="hide-name"/>
            <label for="hide-name" style="color: var(--grey);">Hide your name</label>
          </div>
          <div class="message-button">
            <button type="button" class="btn btn-msg"
                    hx-post="{%url 'pages:save-question' %}"
                    hx-trigger="click" 
                    hx-target=".response-container"
                    hx-disabled-elt="this"
            > Send </button>
            

          </div>

        </div>
        
      </form>
     
    </div>
    <div class="response-container">
    </div>
  </div>
  </div>
 

  <div class="profile-posts">
    {% block posts %}

    {% endblock posts%}
  </div>
    
</div>
{% endblock %}