<div class="post">
    <div style="display: flex;">
        <div class="post-question">
            {{post.answer.question}}</br>
            <span class="question-author">
            <i class="fi fi-sr-user"></i>
            {%if post.answer.question.is_anon == False%}
                <a href="{% url 'pages:profile-detail' post.answer.question_author %}">{{post.answer.question_author}} </a>
            {%else%}
                Anon
            {%endif%}
            </span>
        
        </div>
        <div class="back-posts">
            <i  class="fi fi-br-cross"
                type="button"
                hx-get="{% url 'pages:get-posts' request.user.username %}"
                hx-trigger="click"
                hx-target=".posts-container"    
            ></i>
        </div>
    </div>
    
        <div class="answer-content">
            <form method="post">
                {% csrf_token %}
                <div class="post-edit">
                    <textarea id="message-reply" name="body" required> {{ post.answer }} </textarea><br>
                   
                </div>
                <div class="send-area">
                    <span></span>
                    <div class="message-button">
                        <button type="button" class="btn btn-msg"
                                hx-post="{%url 'pages:save-post' post.id %}"
                                hx-trigger="click" 
                                hx-target=".posts-container"
                        > Save </button>
                    </div>
               </div>
            </form>
        </div>
</div>