{% if request.user in profile.get_blocked_users %}
<div class="object-not-found">
  <b> You are blocked ! </b>
  <b style="font-size: 1.2rem">
    You cannot follow or see <u>{{ username }}</u> posts.</b
  >
</div>
{% else %} {%if posts %} {% for post in posts%}
<div class="post">
  <div class="post-question">
    {{post.answer.question}}<br />
    <span class="question-author">
      <i class="fi fi-sr-user"></i>
      {%if post.answer.question.is_anon == False%}
      <a href="{% url 'pages:profile-detail' post.answer.question_author %}"
        >{{post.answer.question_author}}
      </a>
      {%else%} Anon {%endif%}
    </span>
  </div>

  <div class="post-answer">
    <div class="answer-content">{{post.answer}} <br /></div>
    <div class="answer-author">
      <div class="author-icon"></div>
      <span class="author-user">
        <a href="{% url 'pages:profile-detail' post.author %}">
          <b>{{post.author}} </b></a
        >
      </span>
      •
      <span class="post-creation">
        <a href="{% url 'pages:post-detail' post.author post.id %}">
          {{post.get_whenpublished}}</a
        >
      </span>
    </div>
  </div>

  <div class="post-action-container">
    <div class="post-action">
      {% include "profiles/partials/like_button.html"%} {% include
      "profiles/partials/share_button.html"%}
    </div>
    <div class="post-action">
      {%if request.user != post.get_question_author %}
      <li
        class="action"
        id="action-block"
        type="button"
        hx-delete="{%url 'pages:block-user-post' post.answer.question_author %}"
        hx-trigger="click"
        hx-target=".posts-container"
        hx-confirm="Are you sure you want to block ?"
        name="Block user"
      >
        <i class="fi fi-rr-cross-circle"></i>
      </li>
      {% endif %} {%if request.user == post.author.user %}
      <li
        class="action"
        id="action-edit"
        type="button"
        hx-get="{%url 'pages:edit-post' request.user post.id %}"
        hx-trigger="click"
        hx-target=".posts-container"
        name="Edit post"
      >
        <i class="fi fi-rr-edit"></i>
      </li>
      <li
        class="action"
        id="action-delete"
        type="button"
        hx-delete="{%url 'pages:delete-post' post.id %}"
        hx-trigger="click"
        hx-target="section"
        hx-confirm="Are you sure you want to delete?"
        name="Delete post"
      >
        <i class="fi fi-rr-trash"></i>
      </li>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %} {% else %}
<div class="object-not-found">
  <b>This user hasn't answered any questions yet.</b>
  <b style="font-size: 1.2rem"
    >Be the first one to ask <u>{{ username }}</u> anything !</b
  >
</div>
{%endif%} {% endif %}
